{:paths ["src" "../../src"]
 :tasks
 {:requires ([babashka.process :as p])

  install {:doc "Install node deps"
           :task (shell "pnpm install")}

  dev {:doc "Vite for the two client pages, and the ssr server"
       :depends [install]
       :requires ([server])
       :task (do (p/process ["npx" "vite"] {:inherit true :shutdown p/destroy-tree})
                 (server/-main)
                 (deref (promise)))}}}
