{:source-paths ["src" "test" "lite"]
 :deps {:aliases [:cljs]}
 :builds
 {:lite-app
  {:target :browser
   :modules {:main {:init-fn lite-app/main}}
   :output-dir "target/lite-app/js"}

  :reagami
  {:js-options {;; don't bundle any npm libs
                :js-provider :import}
   :compiler-options {:infer-externs :auto}
   :target :esm
   :runtime :browser
   :devtools {:enabled false}
   :output-dir "lib"
   :modules
   {:reagami {:exports
              {render reagami.core/render}}
    :tests {:init-fn test-runner-cljs/init
            :depends-on #{:reagami}}}
   :build-hooks [(shadow.cljs.build-report/hook
                  {:output-to "report.html"})]}}}
