{:paths ["src" "../../src"]
 :tasks
 {build {:doc "Compile with squint and bundle the client"
         :task (do (shell "../../node_modules/.bin/squint" "compile")
                   (shell "../../node_modules/.bin/esbuild" "out/client.mjs"
                          "--bundle" "--format=esm" "--outfile=dist/client.js"))}

  serve {:doc "Serve on 8080"
         :depends [build]
         :requires ([server])
         :task (server/-main)}}}
